*.main.py
*~
__pycache/
__pycache__/
.mypy_cache/
venv/
python-generators-0x00/__pycache__/seed.cpython-312.pyc
CC.md
django_app/
messaging_app/.env
.env
k8s-crash-course/
kubectl
minikube-linux-amd64
